<h1>Questions </h1>
<div><%= flash[:signup] %></div>
<div><%= flash[:signin] %></div>

<a href="/questions/new">Create question </a>
<div>
<% @question.each do |q| %>
	<ul>
		<li><a href="/questions/<%= q.id %>"><%= q.title %></a>
		<%= q.tag %> by 
		<a href="/users/<%= q.user_id %>"><%= q.user.fullname %></a> 
		<%= q.count %> Votes 
		</li>
	</ul>
<% end %>
</div>