<h1>Questions </h1>
<div><%= flash[:signup] %></div>
<div><%= flash[:signin] %></div>

<table>
<% @question.each_with_index do |q, ind| %>
	<tr>
		<td><%= ind + 1 %>. </td>
		<td><a href="/questions/<%= q.id %>"><%= q.title %></a></td>
		<td><%= q.tag %></td> 
		<td><a href="/users/<%= q.user_id %>"><%= q.user.fullname %></a></td> 
		<td><%= q.count %> Votes</td> 
	</tr>
<% end %>
</table>