<div><%= flash[:answer]%> </div>

<h1><%= @question.title %></h1>

<ul class="question_info">
	<li>
	by <a href="/users/<%= @question.user.id%>"><%= @question.user.fullname%></a></li>
	<li><a href='/question/<%= @question.id%>/edit'>edit</a></li>

	<div class="q_vote">
	<li>
	<!-- form for upvoting question-->
	<form id="q_up" method="POST" action="/questions/<%= @question.id%>/upvote">
		<input type="submit" value="Up">	
	</form>
	</li>

	<!-- form for downvoting question-->
	<li>
	<form id="q_down" method="POST" action="/questions/<%= @question.id%>/downvote">
		<input type="submit" value="Down">	
	</form>
	</li>

	<li><p><%= @question.count%> Votes</p></li>
</div>
</ul>

<p> <%= @question.content %></p>

<br>
<br>

<table>
	<!-- to list all the answers -->
	<% @answers.each do |a| %>
	<tr>	
		<td><p id="answer_text"><%= a.answer%></p></td> 
	</tr>

	<tr>
		<td>
			<ul class="answer_info">
			<li>by <%=a.user.fullname%> </li>
			<li><div id="num_vote_<%=a.id%>"> <%=a.count%> Votes </div></li>

	<!-- form for upvote answers -->
		<li>
			<form class="a_up" method="POST" action="/answers/upvote/<%=a.id%>">
				<input type="submit" value="+">
			</form>
		</li>

	<!-- form for downvote answers -->
		<li>
			<form class="a_down" method="POST" action="/answers/downvote/<%=a.id%>">
				<input type="submit" value="-">
			</form>
		</li>

		<li>
			<form  method="POST" action="/answers/<%=a.id%>/delete/question/<%= @question.id %>">
				<input type="hidden" name="_method" value="DELETE">
				<input type="submit" value="Delete">
			</form>
		</li>

		<li>
			<button type="submit" class="editbutton">Edit</button>

			<form id="edit" method="POST" action="/answers/<%=a.id%>/edit/question/<%= @question.id %>">
				<textarea style="width:600px; height:150px" name="answer[answer]"><%= a.answer%> </textarea>
				<input type="submit" value="Edit">
			</form>
		</li>
		</td>
	</tr>
	<% end %>
</table> 
<%= will_paginate @answers%>

<!-- form for answering question-->
<form method="POST" action="/answers/<%=@question.id%>">
	<textarea style="width:600px; height:150px" placeholder="what do you think" name="answer[answer]"></textarea><br>
	<input type="submit" value="POST">
</form>